<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,target-densitydpi=medium-dpi" />
    <title>부대시설 예약 목록</title>

    <!-- css -->
    <link rel="stylesheet" href="/oneLife/resources/admin/fonts/fonts.css">
    <link rel="stylesheet" href="/oneLife/resources/admin/css/reset.css">
    <link rel="stylesheet" href="/oneLife/resources/admin/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/oneLife/resources/admin/css/style.css">
    <link rel="stylesheet" href="/oneLife/resources/admin/css/style.css">

    <!-- js -->
    <script src="/oneLife/resources/admin/js/jquery-3.6.0.min.js"></script>
    <script src="/oneLife/resources/admin/js/jquery-ui.js"></script>
    <script src="/oneLife/resources/admin/js/calendar.js"></script>

</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header">
                <h1>
                    <a href="javascript:;">
                        <span class="ir_so">ONE LIFE LOGO</span>
                    </a>
                </h1>
                <div>
                    <p><span>관리자</span>님 반갑습니다.</p>
                    <a href="javascript:;" class="setting"></a>
                    <a href="javascript:;" class="logout"></a>
                </div>
            </div>
        </header>
        
        <div class="container">
            <nav id="nav">
                <div class="nav">
                    <ul class="outer">
                        <li>
                            <a href="javascript:;">회원정보</a>
                            <ul class="inner">
                                <li>
                                    <a href="javascript:;">입주자 명부</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">부대시설</a>
                            <ul class="inner">
                                <li class="on">
                                    <a href="javascript:;">부대시설 예약 관리</a>
                                </li>
                                <li>
                                    <a href="javascript:;">독서실 예약 현황</a>
                                </li>
                                <li>
                                    <a href="javascript:;">멀티코트장 예약 현황</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">게시판</a>
                            <ul class="inner">
                                <li>
                                    <a href="javascript:;">주요일정 관리</a>
                                </li>
                                <li>
                                    <a href="javascript:;">신고내역 관리</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">차량관리</a>
                            <ul class="inner">
                                <li>
                                    <a href="javascript:;">입주 차량 등록 현황</a>
                                </li>
                                <li>
                                    <a href="javascript:;">방문 차량 등록 현황</a>
                                </li>
                                <li>
                                    <a href="javascript:;">업체 차량 등록 현황</a>
                                </li>
                            </ul>
                        </li>   
                        <li>
                            <a href="javascript:;">관리자 정보</a>
                            <ul class="inner">
                                <li>
                                    <a href="javascript:;">관리자 명부</a>
                                </li>
                            </ul>
                        </li>   
                    </ul>
                </div>
            </nav>

            <secion id="content">
                <div class="content">
                    <div class="list_wrap">
                        <h2 class="sub_tit">부대시설 예약관리</h2>
                        <div class="search_box">
                            <div class="search_top clearfix">
                                <div class="items clearfix">
                                    <label for="reser_fac">예약시설</label>
                                    <div class="select">
                                        <select name="" id="reser_fac">
                                            <option value="">전체</option>
                                            <option value="">독서실</option>
                                            <option value="">멀티코트장</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="items clearfix">
                                    <label for="reser_fac">예약타입</label>
                                    <div class="select">
                                        <select name="" id="reser_fac">
                                            <option value="">전체</option>
                                            <option value="">정기권</option>
                                            <option value="">일일석</option>
                                            <option value="">A</option>  
                                            <option value="">B</option>  
                                            <option value="">C</option>  
                                        </select>
                                    </div>
                                </div>
                                <div class="items clearfix">
                                    <label for="reser_fac">예약타입</label>
                                    <div class="select">
                                        <select name="" id="reser_fac">
                                            <option value="">전체</option>
                                            <option value="">사용전</option>
                                            <option value="">사용중</option>
                                            <option value="">사용완료</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="items clearfix">
                                    <label for="">예약일자</label>
                                    <div class="calendar clearfix">
                                        <input type="text" name="" id="" class="cal" readonly>
                                        <span>~</span>
                                        <input type="text" name="" id="" class="cal" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="search_bot clearfix">
                                <div class="items clearfix">
                                    <label for="">검색조건</label>
                                    <div class="select">
                                        <select name="" id="reser_fac">
                                            <option value="">전체</option>
                                            <option value="">아이디</option>
                                            <option value="">이름</option>
                                            <option value="">핸드폰번호</option>
                                        </select>
                                    </div>
                                    <input type="text" class="input">
                                    <button type="button" class="btn">검색</button>
                                </div>
                               
                            </div>
                        </div>

                        <div class="list_content">
                            <div class="table_wrap">
                                <table class="table">
                                    <colgroup>
                                        <col width="30px">
                                        <col width="8%">
                                        <col width="8%">
                                        <col width="8%">
                                        <col width="8%">
                                        <col width="8%">
                                        <col width="115px">
                                        <col width="25%">
                                        <col width="25%">
                                        <col width="8%">
                                    </colgroup>
                                    <caption class="ir_so">부대시설 예약목록</caption>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox">
                                                    <input type="checkbox" name="checkAll" id="checkAll">
                                                    <label for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th>No.</th>
                                            <th>예약 시설</th>
                                            <th>예약 타입</th>
                                            <th>아이디</th>
                                            <th>이름</th>
                                            <th>핸드폰 번호</th>
                                            <th>예약 일자</th>
                                            <th>예약 마감시간</th>
                                            <th>예약 상태</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="10">
                                                <div class="list_nodate">
                                                    <img src="/oneLife/resources/admin/images/list_nodate.png" alt="nodate">
                                                    <p>조회된 결과가 없습니다.</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </secion>
        </div>
    </div>

    <!-- 팝업영역 -->
    <!-- 삭제 팝업 -->
    <div class="popup_wrap" style="display:none;">
        <div class="dim"></div>
        <div class="item">
            <h3 class="tit">예약 내역 삭제</h3>
            <p class="txt">총 2건의 예약내역을 삭제하시겠습니까?</p>
            <div class="btn_box">
                <a href="javascript:;" class="ok">삭제</a>
                <a href="javascript:;" class="cancle">취소</a>
            </div>
        </div>
    </div>

     <!-- 삭제완료 팝업 -->
     <div class="popup_wrap" style="display:none;">
        <div class="dim"></div>
        <div class="item">
            <h3 class="tit">예약 내역 삭제</h3>
            <p class="txt">총 2건의 예약내역이 삭제되었습니다.</p>
            <div class="btn_box">
                <a href="javascript:;" class="ok">확인</a>
            </div>
        </div>
    </div>
    <!-- 팝업영역 -->

</body>

</html>