.reservation_wrap1{padding-top: 80px; text-align: left;}
.selectDate{ margin-left: 100px; font-size: 20px; font-weight: bold; color: gray;}
.reservation_wrap1 .cal{ width: 200px; height: 30px; margin-top: 30px; margin-left: 100px;}
.reservation_wrap1 .cal{ padding: 0 8px 0 60px; background: #fff url(../../git/oneLife/webapp/resources/user/images/ico_cal.png) no-repeat left 8px center;}
.reservation_wrap1 .cal_today{ width: 200px; height: 30px; margin-top: 30px; margin-left: 100px;}
.reservation_wrap1 .cal_today{ padding: 0 8px 0 60px; background: #fff url(../../git/oneLife/webapp/resources/user/images/ico_cal.png) no-repeat left 8px center;}

.reservation_wrap2{padding-top: 150px; text-align: left;}
.selectSeat{ margin-left: 100px; font-size: 20px; font-weight: bold; color: gray;}
.reservation_wrap2 .seatNumber{ width: 100px; height: 30px; margin-top: 30px; margin-left: 100px;}
.reservation_wrap2 > button{margin-left: 25px;}
.reservation_wrap2 > button{ margin-left: 20px; height: 29px; width: 80px; border-radius: 3px; color: #fff; background: #4094f7; font-size: 15px;}

.reservation_submit{padding-top: 150px; padding-left: 650px;}
.reservation_submit .submit{margin-right: 30px; height: 30px; width: 80px; border-radius: 3px; color: #fff; background: #4094f7;}
.reservation_submit .reset{height: 30px; width: 80px; border-radius: 3px; color: #fff; background: #4094f7;}

.amenities_table{padding-left: 200px;}
.amenities_table .table_head{ color: #000; background: #7cabe0; font-size: 20px;}

.reservation_wrap1 .selectCourt{margin-left: 100px; font-size: 20px; font-weight: bold; color: gray;}

.reservation_wrap1 .selectOption{padding-top: 20px; padding-left: 90px; padding-bottom: 40px;}
.selectOption .selectValue{margin-left:10px; height: 30px; width: 50px; border-radius: 3px; font-weight: bold;}

.reservation_wrap3{padding-top: 50px; text-align: left;}
.reservation_wrap3 .selectTime{margin-left: 100px; font-size: 20px; font-weight: bold; color: gray;}
.reservation_wrap3 .time_wrap{margin-left: 100px; margin-top: 25px;}

.time_wrap .endTime{margin-left: 15px;}

.library_pop{width: 1280px; padding: 40px 80px; box-sizing: border-box;}
.library_pop .sub_tit{font-size: 30px; margin-bottom: 20px;}
.library_pop .library_wrap{}
.library_pop .library_wrap .library_head{position: relative; margin-bottom: 10px;}
.library_pop .library_wrap .library_head{}
.library_pop .library_wrap .library_head .input .cal{display: block; width: 160px; height: 30px; line-height: 30px; border: 1px solid #000;box-sizing: border-box;background:url(../images/ico_cal.png) no-repeat right 10px center;padding: 0 10px; padding-right: 35px; cursor: pointer;}
.library_pop .library_wrap .library_head .input .cal_today{display: block; width: 160px; height: 30px; line-height: 30px; border: 1px solid #000;box-sizing: border-box;background:url(../images/ico_cal.png) no-repeat right 10px center;padding: 0 10px; padding-right: 35px; cursor: pointer;}

.library_pop .library_wrap .library_head .status_item{position: absolute; bottom:0; right:0;}
.library_pop .library_wrap .library_head .status_item p{position: relative; line-height: 14px; padding-left: 40px; margin-top: 5px;}
.library_pop .library_wrap .library_head .status_item p:before{display: block; content:''; position: absolute; top:calc(50% - 4px); left:0; width: 37px; height: 8px;font-size: 10px; background: #E6E6E6;}
.library_pop .library_wrap .library_head .status_item p:nth-child(2):before{background: #3C90F2;}
.library_pop .library_wrap .library_head .status_item p:nth-child(3):before{background: #C30000;}
.library_pop .library_wrap .library_body{display: flex; border:1px solid #000; border-radius: 10px;}
.library_pop .library_wrap .library_body > div{}
.library_pop .library_wrap .library_body .seat_item{width:calc(100% - 220px);  height: 660px; box-sizing: border-box; overflow: auto; padding-right: 5px;}
.library_pop .library_wrap .library_body .seat_item ul{display: flex; flex-wrap: wrap;}
.library_pop .library_wrap .library_body .seat_item ul li{position: relative; padding: 12px; box-sizing: border-box; height: 83px; margin-bottom: 20px; border-top:1px solid #000; margin-top: -1px;}
.library_pop .library_wrap .library_body .seat_item ul li:before{display: block; content:''; position: absolute; left: 0; bottom: 0; width: 73px; height: 1px; background:#000; }
.library_pop .library_wrap .library_body .seat_item ul li:after{display: block; content:''; position: absolute; right: 0; top: 0; width: 1px; height: 100%; background:#000;}
.library_pop .library_wrap .library_body .seat_item ul li a{display: block; width: 60px; height: 60px; box-sizing: border-box; border-radius:10px; background:#E6E6E6; text-align: center; margin-right: 11px;}
.library_pop .library_wrap .library_body .seat_item ul li a .status{font-size: 11px; letter-spacing: 0; padding-top: 6px;}
.library_pop .library_wrap .library_body .seat_item ul li a .seatNum{font-size: 24px; font-weight: bold; letter-spacing: 0; padding-top: 1px;}
.library_pop .library_wrap .library_body .seat_item ul li a .endDate{font-size: 11px; letter-spacing: 0; color:#fff; padding-top: 1px;}

.library_pop .library_wrap .library_body .seat_item ul li.use a{background: #3C90F2;}
.library_pop .library_wrap .library_body .seat_item ul li.use a .status{ color:#fff;}
.library_pop .library_wrap .library_body .seat_item ul li.use a .seatNum{ color:#fff;}

.library_pop .library_wrap .library_body .seat_item ul li.on a{background: #C30000;}
.library_pop .library_wrap .library_body .seat_item ul li.on a .status{ color:#fff;}
.library_pop .library_wrap .library_body .seat_item ul li.on a .seatNum{ color:#fff;}

.library_pop .library_wrap .library_body .plan_item{width: 260px; box-sizing: border-box; padding: 5px 5px 5px 10px;}
.library_pop .library_wrap .library_body .plan_item div{width: 100%; box-sizing: border-box; height: 315px; line-height: 315px; text-align: center; font-size: 24px; font-weight: bold; border:1px solid #000;}
.library_pop .library_wrap .library_body .plan_item .exit_item{margin-bottom: 20px;}
.library_pop .library_wrap .library_body .plan_item .lounge_item{}













