<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>

     <!-- css -->
     <link rel="stylesheet" href="/oneLife/resources/user/fonts/fonts.css">
     <link rel="stylesheet" href="/oneLife/resources/user/css/reset.css">
     <link rel="stylesheet" href="/oneLife/resources/user/css/jquery-ui.min.css">
     <link rel="stylesheet" href="/oneLife/resources/user/css/style.css">
 
     <script src="/oneLife/resources/user/js/jquery-3.6.0.min.js"></script>
     <script src="/oneLife/resources/user/js/jquery-ui.js"></script>
</head>
<body>
   <div id="wrap">
        <header id="header">
            <div class="header">
                <h1 class=logo>
                    <a href="javascript:;"><span class="ir_so">로고</span></a>
                </h1>
                <div class="top_wrap">
                    <p class="login_status">201동 103호 <span>홍길동</span>님 반갑습니다.</p>
                    <ul>
                        <li><a href="javascript:;">회원정보</a></li>
                        <li><a href="javascript:;">로그아웃</a></li>
                    </ul>
                </div>
                <nav class="nav_wrap">
                    <ul>
                        <li><a href="javascript:;">아파트 소개</a></li>
                        <li><a href="javascript:;">아파트 소식</a></li>
                        <li><a href="javascript:;">부대시설</a></li>
                        <li><a href="javascript:;">방문차량</a></li>
                        <li><a href="javascript:;">아파트 민원</a></li>
                    </ul>
                    <div class="nav_inner_wrap">
                        <ul class="inner_item">
                            <li><a href="javascript:;">아파트 소개</a></li>
                        </ul>
                        <ul class="inner_item">
                            <li><a href="javascript:;">공지사항</a></li>
                            <li><a href="javascript:;">도란도란</a></li>
                            <li><a href="javascript:;">투표하기</a></li>
                            <li><a href="javascript:;">주요일정</a></li>
                        </ul>
                        <ul class="inner_item">
                            <li><a href="javascript:;">독서실 예약</a></li>
                            <li><a href="javascript:;">멀티 코트장 예약</a></li>
                        </ul>
                        <ul class="inner_item">
                            <li><a href="javascript:;">방문차량 등록</a></li>
                            <li><a href="javascript:;">방문예약 목록</a></li>
                        </ul>
                        <ul class="inner_item">
                            <li><a href="javascript:;">아파트 민원</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="bottom_wrap1">
            <p></p><span>> 아파트소식 > 공지사항</span>
            <h1>공지사항</h1>
            <div class="bottom_wrap2">
            </div>
        </div>


        <footer id="footer">
            <div class="footer">
                <ul>
                    <li>(주)KH아파트</li>
                    <li>대표 우별림</li>
                    <li>서울 강남구 테헤란로10길 9, 그랑프리빌딩 7층 L</li>
                    <li>FAX 02-6008-6879</li>
                    <li class="line">TEL 1600-312</li>
                </ul>
                <ul>
                    <li><a href="javascript:;">이용약관</a></li>
                    <li><a href="javascript:;">개인정보 이용약관</a></li>
                    <li>사업자등록번호 104-86-59942 통신판매업신고번호 2021-부산해운대-0753</li>
                    <li>Copyright KHApt inc. All right reserved</li>
                </ul>
            </div>
        </footer>
   </div>

   <!-- 메뉴 슬라이드 스크립트 -->
   <script>
       $(function(){
            $('.header').mouseenter(function(){
                $('.header').addClass('on');
                $('.header .nav_wrap .nav_inner_wrap').stop().slideDown(300);
            })

            $('.header').mouseleave(function(){
                $('.header').removeClass('on');
                $('.header .nav_wrap .nav_inner_wrap').stop().slideUp(300);
            })


       })
   </script>
</body>
</html>